@page
@model GigLocal.Pages.Admin.Gigs.CreateModel

<h2>Create a Gig</h2>
<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gig.ArtistName" class="control-label"></label>
                <input asp-for="Gig.ArtistName" class="form-control" />
                <span asp-validation-for="Gig.ArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gig.Description" class="control-label"></label>
                <textarea asp-for="Gig.Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Gig.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gig.EventUrl" class="control-label"></label>
                <input asp-for="Gig.EventUrl" class="form-control" />
                <span asp-validation-for="Gig.EventUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gig.FormFile"></label>
                <input asp-for="Gig.FormFile" class="form-control-file" type="file" accept="image/*" />
                <span asp-validation-for="Gig.FormFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gig.VenueID" class="control-label"></label>
                <select asp-for="Gig.VenueID" asp-items="Model.Venues" class="custom-select">
                    <option value="">-- Select a venue --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Gig.StartDate" class="control-label"></label>
                <input asp-for="Gig.StartDate" class="form-control" placeholder="yyyy-mm-dd hh:mm tt" />
                <span asp-validation-for="Gig.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gig.EndDate" class="control-label"></label>
                <input asp-for="Gig.EndDate" class="form-control" placeholder="yyyy-mm-dd hh:mm tt" />
                <span asp-validation-for="Gig.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-secondary" role="button" asp-page="Index">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Create">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        setDateInputMinToToday("Gig.StartDate");
        setDateInputMinToToday("Gig.EndDate");
    </script>
}
