@page
@model GigLocal.Pages.Admin.Gigs.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h1>Edit</h1>

<h4>Gig</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gig.ArtistID" class="control-label"></label>
                <select asp-for="Gig.ArtistID" asp-items="Model.Artists" class="custom-select"></select>
            </div>
            <div class="form-group">
                <label asp-for="Gig.VenueID" class="control-label"></label>
                <select asp-for="Gig.VenueID" asp-items="Model.Venues" class="custom-select"></select>
            </div>
            <div class="form-group">
                <label asp-for="Gig.Date" class="control-label"></label>
                <input asp-for="Gig.Date" class="form-control" />
                <span asp-validation-for="Gig.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gig.TicketPrice" class="control-label"></label>
                <input asp-for="Gig.TicketPrice" class="form-control" />
                <span asp-validation-for="Gig.TicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gig.TicketWebsite" class="control-label"></label>
                <input asp-for="Gig.TicketWebsite" class="form-control" />
                <span asp-validation-for="Gig.TicketWebsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
