@page
@model GigLocal.Pages.Admin.Gigs.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h1>Edit</h1>

<h4>Gig</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gig.ArtistName" class="control-label"></label>
                <input asp-for="Gig.ArtistName" class="form-control" />
                <span asp-validation-for="Gig.ArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gig.Description" class="control-label"></label>
                <textarea asp-for="Gig.Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Gig.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gig.EventUrl" class="control-label"></label>
                <input asp-for="Gig.EventUrl" class="form-control" />
                <span asp-validation-for="Gig.EventUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gig.FormFile"></label>
                <input asp-for="Gig.FormFile" type="file" accept="image/*" />
                <span asp-validation-for="Gig.FormFile"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gig.VenueID" class="control-label"></label>
                <select asp-for="Gig.VenueID" asp-items="Model.Venues" class="custom-select"></select>
            </div>
            <div class="form-group">
                <label asp-for="Gig.Date" class="control-label"></label>
                <input asp-for="Gig.Date" class="form-control" placeholder="yyyy-mm-dd" />
                <span asp-validation-for="Gig.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-secondary" role="button" asp-page="./Index">Cancel</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        setDateInputMinToToday("Gig.Date");
    </script>
}
