@page
@model GigLocal.Pages.AboutModel

@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<p>
    Gig Local is a non-for-profit community driven website for listing local gigs in your area. We are currently
    running a pilot program and listing gigs from a few venues in Northcote, Victoria. We welcome any and all feedback!
    Please let us know what you think or any ideas you have to improve the site via our
     <a href="mailto:giglocallive@gmail.com?subject=Gig Local website Feedback!">email</a>.
</p>
