@page
@model GigLocal.Pages.AboutModel

@{
    ViewData["Title"] = "About";
    ViewData["Description"] = "Gig Local is a not-for-profit community-driven website to share small music gigs at bars, pubs and cafes in your local area.";
    ViewData["Image"] = $"{HttpContext.Request.GetDisplayUrl()}/android-chrome-192x192.png";
    ViewData["Url"] = $"{HttpContext.Request.GetDisplayUrl()}/";
}
<div class="jumbotron text-center">
    <h1 class="display-4">About</h1>
    <p class="lead">Supprting local gigs &#129345;</p>
</div>
<p>
    Gig Local is a not-for-profit community-driven website to share small music gigs at bars, pubs and cafes in your
    local area. This isn't for big ticketed events, but rather local artists playing an acoustic set in a pub
    courtyard or a jazz trio busting out tunes in a local bar. The idea came from our love to see some music on a
    Sunday afternoon or finish off a night with some live tunes, but struggling to easily find out what's on. We
    love to see new local artists and hope this helps spread the word!
</p>
<p>
    We are currently starting on our home ground - <b>Northcote, Thornbury & Preston VIC</b> - but will be expanding to nearby suburbs
    soon. We welcome any and all feedback! Please let us know what you think or any ideas you have to improve the
    site via our <a href="mailto:giglocallive@gmail.com?subject=Gig Local website Feedback!">email</a>.
</p>
