@page
@model IndexModel
@{
    ViewData["Title"] = "Find local live music gigs near you";
    ViewData["Description"] = "Gig Local is a not-for-profit community-driven website to share small music gigs at bars, pubs and cafes in your local area.";
    ViewData["Image"] = $"{HttpContext.Request.GetDisplayUrl()}/android-chrome-192x192.png";
    ViewData["Url"] = $"{HttpContext.Request.GetDisplayUrl()}/";
}

<div class="text-center">
    <img src="~/logo.svg" width="144" height="144" style="height: 144px;" alt="Gig Local logo" />
    <br>
    <br>
    <h1 class="lead">@ViewData["Title"]</h1>
    <br>
    <div class="form-group">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6">
                <a asp-page="/Gigs" class="btn btn-dark btn-lg btn-block" role="button">View Gigs</a>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6">
                <a asp-page="/Venues" class="btn btn-dark btn-lg btn-block" role="button">View Venues</a>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6">
                <a asp-page="/Upload" class="btn btn-dark btn-lg btn-block" role="button">Upload Gigs</a>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<hr class="my-4">
<p class="text-left">
    Gig Local is a not-for-profit community-driven website to share small music gigs at bars,
    pubs and cafes in your local area. We are currently starting on our home ground
    - <b>Northcote, Thornbury, Preston VIC</b> - but will be expanding to nearby suburbs soon!
</p>
