@page
@model IndexModel
@{
    ViewData["Title"] = "Find local gigs near you";
}

<div class="text-center">
    <div class="jumbotron bg-white">
    <img src="~/android-chrome-512x512.png" height="144" alt="Gig Local" />
    <br>
    <br>
    <p class="lead">Find local gigs near you</p>
    <hr class="my-4">
    <p>Gig Local is a not-for-profit community-driven website for listing local gigs in your area!</p>
    <br>
    <a asp-page="/Gigs" class="btn btn-dark btn-lg" role="button">View Gigs</a>
    </div>
</div>
