@page
@model IndexModel
@{
    ViewData["Title"] = "Find local gigs near you";
}

<div class="text-center">
    <div class="jumbotron bg-white">
    <img src="~/android-chrome-512x512.png" height="144" alt="Gig Local" />
    <br>
    <br>
    <p class="lead">Find local gigs near you.</p>
    <hr class="my-4">
    <p class="text-left">Gig Local is a not-for-profit community-driven website to share small music gigs at bars, pubs and cafes in your
    local area. We are currently starting on our home ground - <b>Northcote, VIC</b> - but will be expanding to nearby suburbs
    soon!</p>
    <br>
    <a asp-page="/Gigs" class="btn btn-dark btn-lg" role="button">View Gigs</a>
    </div>
</div>
