@page
@model IndexModel
@{
    ViewData["Title"] = "Find local gigs near you";
}

<div class="text-center">
    <img src="~/android-chrome-512x512.png" height="144" alt="Gig Local" />
    <br>
    <br>
    <h1 class="lead">Find local gigs near you.</h1>
    <br>
    <div class="form-group">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6">
                <a asp-page="/Gigs" class="btn btn-dark btn-lg btn-block" role="button">View Gigs</a>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6">
                <a asp-page="/Upload" class="btn btn-dark btn-lg btn-block" role="button">Upload Gigs</a>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<hr class="my-4">
<p class="text-left">
    Gig Local is a not-for-profit community-driven website to share small music gigs at bars,
    pubs and cafes in your local area. We are currently starting on our home ground
    - <b>Northcote & Thornbury, VIC</b> - but will be expanding to nearby suburbs soon!
</p>
<i>
    Please note that due to COVID-19, some gigs may be cancelled last minute and this will not
    always be reflected on our gigs page or social media immediately. To confirm an event, please
    click on the gig link for further information. We will endeavour to keep our pages as up to date as possible
    but feel free to <a href="mailto:giglocallive@gmail.com?subject=Gig Local website Feedback!">
    reach out</a> if you have any concerns. Keep safe during this time, Gig Local ❤️
</i>
