@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Gig Local is committed to providing quality services to you and this policy outlines our ongoing obligations to you
    in respect of how we manage your Personal Information. We have adopted the Australian Privacy Principles (APPs)
    contained in the Privacy Act 1988 (Cth) (the Privacy Act). The NPPs govern the way in which we collect, use,
    disclose, store, secure and dispose of your Personal Information. A copy of the Australian Privacy Principles may
    be obtained from the website of The Office of the Australian Information Commissioner at www.aoic.gov.au
</p>

<h3>Personal Information</h3>

<p>
    Personal Information is information or an opinion that identifies an individual. We do not collect any personal
    information. We only collect publicly available information about Venues, Artists and Gigs, such as:
<ul>
    <li>Names, descriptions, addresses and websites of Venues</li>
    <li>Names, descriptions, genres and websites of Artists</li>
    <li>Dates, times, artists and venues of Gigs</li>
</ul>
This information is collected to enable us to provide you with the best service possible.
</p>

<h3>Sensitive Information</h3>
<p>
    Sensitive information is defined in the Privacy Act to include information or opinion about such things as an
    individual's racial or ethnic origin, political opinions, membership of a political association, religious or
    philosophical beliefs, membership of a trade union or other professional body, criminal record or health
    information.
    We do not collect any sensitive information.
</p>


<h3>Third Parties</h3>
<p>
    Where reasonable and practicable to do so, we will collect publicly available information about Venues, Artists and
    Gigs from third parties.
</p>

<h3>Policy Updates</h3>
<p>
    This Policy may change from time to time and is available on our website at https://giglocal.live/privacy.
</p>

<h3>Privacy Policy Complaints and Enquiries</h3>
<p>
    If you have any queries or complaints about our Privacy Policy please contact us at Gig Local: <a
        href="mailto:giglocallive@gmail.com">giglocallive@gmail.com</a>.
</p>
