@page
@model GigLocal.Pages.Admin.Venues.EditModel
@using GigLocal.Helpers
@{
    ViewData["Title"] = "Edit Venue";
    ViewData["Description"] = "Edit a venue on Gig Local admin.";
    ViewData["Image"] = $"{HttpContext.Request.GetDisplayUrl()}/android-chrome-192x192.png";
    ViewData["Url"] = $"{HttpContext.Request.GetDisplayUrl()}/";
}

<h2>Edit</h2>

<h4>Venue</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Venue.Name" class="control-label"></label>
                <input asp-for="Venue.Name" class="form-control" />
                <span asp-validation-for="Venue.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.Description" class="control-label"></label>
                <textarea asp-for="Venue.Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Venue.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.FormFile"></label>
                <input asp-for="Venue.FormFile" class="form-control-file" type="file" accept="image/*" />
                <span asp-validation-for="Venue.FormFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.Address" class="control-label"></label>
                <input asp-for="Venue.Address" class="form-control" />
                <span asp-validation-for="Venue.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.Suburb" class="control-label"></label>
                <input asp-for="Venue.Suburb" class="form-control" />
                <span asp-validation-for="Venue.Suburb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.State" class="control-label"></label>
                <select asp-for="Venue.State" asp-items="VenueHelper.States" class="custom-select">
                    <option value="">-- Select a state --</option>
                </select>
                <span asp-validation-for="Venue.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.Postcode" class="control-label"></label>
                <input asp-for="Venue.Postcode" class="form-control" />
                <span asp-validation-for="Venue.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.Website" class="control-label"></label>
                <input asp-for="Venue.Website" class="form-control" />
                <span asp-validation-for="Venue.Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-secondary" role="button" asp-page="./Index">Cancel</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
