@page
@model IndexModel
@{
    ViewData["Title"] = "Admin page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Admin page</h1>
    <p>Use the top-right navigation to administer Venues, Gigs and Logout.</p>
</div>
