@page
@model IndexModel
@{
    ViewData["Title"] = "Admin";
    ViewData["Description"] = "Administer gigs and venues on Gig Local admin.";
    ViewData["Image"] = $"{HttpContext.Request.GetDisplayUrl()}/android-chrome-192x192.png";
    ViewData["Url"] = $"{HttpContext.Request.GetDisplayUrl()}/";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Admin page</h1>
    <p>Use the top-right navigation to administer Venues, Gigs and Logout.</p>
</div>
