@page
@model IndexModel
@{
    ViewData["Title"] = "Admin page";
    Layout = "_AdminLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Admin page</h1>
    <p>Use to top navigation bar to administer Venues, Artists and Gigs.</p>
</div>
