<!DOCTYPE html>
<html lang="en">
<partial name="_HeadPartial" model='"Gig Local"' />
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Gig Local</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Gig Local - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <partial name="_ScriptsPartial"/>

    @RenderSection("Scripts", required: false)
</body>
</html>
