@if (Context.User.Identity.IsAuthenticated)
{
    <form asp-page="/Index" asp-page-handler="Logout" method="post" class="d-flex">
        <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand fw-bold" asp-area="" asp-page="/Admin/Index">Admin</a>
            <li class="nav-item">
                <a class="nav-link text-dark fw-bold" asp-area="" asp-page="/Admin/Venues/Index">Venues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark fw-bold" asp-area="" asp-page="/Admin/Gigs/Index">Gigs</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
